.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 10px;
    color: hsla(0, 0%, 100%, 0.75);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    height: 720px;
}

.main-content {
    display: table;
    width: 100%;
    height: 100%;
}

.content {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.card {
    width: 1110px;
    height: 446px;
    background-color: hsl(244, 38%, 16%);
    margin: auto;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}

.filter-mobile {
    display: none;
}

.text {
    width: 570px;
    float: left;
    padding: 70px;
    box-sizing: border-box;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    margin-top: 0;
}

span {
    color: hsl(277, 64%, 61%);
}

.intro {
    width: 360px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.stats {
    width: 360px;
    margin-top: 80px;
    font-family: 'Lexend Deca', sans-serif;
    display: table;
}

.companies, .templates, .queries {
    display: table-cell;
    vertical-align: middle;
    width: calc(100% / 3);
}

h2 {
    color: hsl(0, 0%, 100%);
    margin-top: 0;
    margin-bottom: 12px;
}

.stats p {
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 13px;
    margin-bottom: 0;
}

img {
    opacity: 40%;
}

.filter {
    width: 540px;
    height: 446px;
    background-color: hsl(277, 64%, 61%);
    position: absolute;
    top: 0;
    right: 0;
}

@media only screen and (max-width: 375px) {
    body {
        height: 950px;
    }

    img {
        width: 100%;
        height: auto;
    }
    .card {
        width: 330px;
        height: auto;
    }

    .filter-mobile {
        display: block;
        background-color: hsl(277, 64%, 61%);
        height: 242px;
    }
    
    .text {
        width: 100%;
        float: none;
        padding: 35px;
        text-align: center;
        margin: auto;
    }
    
    h1 {
        width: 250px;
    }
    
    .intro {
        width: 250px;
    }
    
    .stats {
        width: 250px;
        margin-top: 50px;
        display: block;
    }
    
    .companies, .templates, .queries {
        display: block;
        width: 100%;
    }
    
    .templates {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .filter {
        display: none;
    }
}
